.navbar-gradient-md {
  background: linear-gradient(180deg, #6930DB -49.99%, #FFB47E 208.18%);;
  border-radius: 0 0 1rem 1rem;
  min-height: var(--spacing-48);
  padding-left: var(--spacing-24);
}

.navbar-gradient-md .go-back-icon {
  width: 20px;
  height: 20px;
}

.navbar-gradient-md .navbar-brand {
  color: var(--color-white);
  font-size: var(--font-size-big) !important;
  font-weight: 500 !important;
}
