.modal.fade .modal-dialog {
  margin: 0px;
  border-radius: 25px;
  transform: translate3d(0, calc(100vh - 29vh), 0) !important;
}

.modal.fade .modal-content {
  border-radius: 25px 25px 0 0 !important;
}

.modal-body .menu-list {
  list-style-type: none;
  padding: 0;
}

.modal-body .menu-list .menu-item {
  line-height: 25px;
  padding: var(--spacing-4) var(--spacing-12);
}
