.change-pw-wrapper .form-group {
  position: relative;
  font-size: 12px;
}

#newPass, #confirmNewPass {
  max-height: 30px;
  font-size: 14px;
  box-shadow: none !important;
}

.pw-visibility-icon {
  width: 17px;
  position: absolute;
  top: 33px;
  right: 10px;
}
