.text-black {
  color: #000 !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.text-capitalize {
  text-transform: capitalize;
}

a {
  text-decoration: none !important;
}

input[type="text"], textarea {
  outline: none !important;
  box-shadow: none !important;
}
