.go-back-icon {
  width: 13px;
  margin-right: 10px;
}

.settings-icon {
  width: 27px;
}

.dot-icon {
  width: 10px;
}

.message-icon, .alert-icon, .profile-icon {
  width: 21px;
}

.message-count-dot {
  position: absolute;
  top: -6px;
  right: 6px;
}

.alert-count-dot {
  position: absolute;
  top: -4px;
  right: 7px;
}

.challenge-icon {
  width: 25px;
}

.plus-c-icon {
  width: 27px;
  transform: scale(1.2);
}

.home-icon {
  width: 25px;
}

.profile-icon {
  width: 27px;
}

.save-icon {
  width: 16px;
}


/* Static header */
.static-header .navbar {
  height: 80px;
  background: rgba(0, 0, 0, 0.34);
  mix-blend-mode: normal;
  box-shadow: 4px 4px 99px rgba(0, 0, 0, 0.25);
}

.static-header .home-page-title {
  font-size: var(--font-size-bigger) !important;
}
