/* Start: Range */
input[type='range'] {
  -webkit-appearance: none;
  background-color: #ddd;
  height: 10px;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  z-index: 0;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 10px;
  z-index: 1;
}

input[type='range']::-webkit-slider-thumb {
  content: "50%";
  -webkit-appearance: none;
  background: #007BFF;
  border-radius: 50%;
  box-shadow: -210px 0 0 200px #aaa;
  cursor: pointer;
  height: 10px;
  width: 10px;
  border: 0;
  color: #007BFF;
  position: relative;
  top: 4px;
}

input[type='range']::-moz-range-thumb {
  background: #333;
  border-radius: 50%;
  box-shadow: -1010px 0 0 1000px #666;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 0;
}

input[type="range"]::-moz-range-track {
  background-color: #ddd;
}
input[type="range"]::-moz-range-progress {
  background-color: #666;
  height: 20px
}
input[type="range"]::-ms-fill-upper {
  background-color: #ddd;
}
input[type="range"]::-ms-fill-lower {
  background-color: #666;
}
/* Ends: Range */
