.dashboard-content.-opts .dashboard-tabs {
  background-color: var(--color-white);
  position: fixed;
  width: calc(100vw - 16.25rem);
  z-index: 99;
}

/* chat window */
.chat-window {
  margin: 0px auto !important;
  position: static;
  bottom: 0px;
  overflow-y: scroll;
  padding-bottom: var(--spacing-64);
}

::-webkit-scrollbar {
  width: 4px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.chat-window .sender {
  border-radius: 0px 12px 12px;
  word-break: break-word;
  color: var(--color-white);
  background-color: var(--color-violet-400);
  padding: var(--spacing-8) var(--spacing-16) var(--spacing-32);
}

.chat-window .receiver {
  margin-left: auto;
  border-radius: 0px 12px 12px;
  word-break: break-word;
  color: var(--color-black);
  background-color: var(--color-violet-100);
  padding: var(--spacing-8) var(--spacing-16) var(--spacing-32);
  word-break: break-word;
}

/* chat window footer */
.chat-window-footer {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: var(--color-white);
  padding: 0 var(--spacing-16);
}

.chat-window-footer .fa {
  color: var(--color-violet-400);
  font-size: var(--font-size-bigger);
  font-weight: var(--font-weight-bold);
}

.chat-window-footer .reply-box {
  width: 100%;
  padding: var(--spacing-8);
  border: 1px solid var(--color-violet-100);
  resize: none;
  outline: none;
}

@media (max-width: 576px) {
  .dashboard-content.-opts .dashboard-tabs {
    top: 0px;
    width: 100vw;
  }

  .dashboard-content.-opts .dashboard-tabs .tabs {
    height: 9vh;
  }

  .chat-window .sender {
    max-width: calc(100% / 1.5);
  }

  .chat-window .receiver {
    max-width: calc(100% / 1.5);
    margin-right: var(--spacing-8);
  }

  .chat-window-footer {
    bottom: 6.3vh;
    width: 100%;
  }

  .chat-window-footer .reply-box {
    width: 100%;
    padding: var(--spacing-8);
    border: 2px solid var(--color-violet-100);
    resize: none;
    outline: none;
  }
}

@media (min-width: 576px) {
  .chat-window-header {
   display: none;
  }

  .chat-window {
    width: calc(100vw - 18.25rem);
    padding-top: var(--spacing-16);
  }

  .mob-single-chat-window .chat-window .sender {
    max-width: calc(100% / 2);
  }

  .mob-single-chat-window .chat-window .receiver {
    max-width: calc(100% / 2);
  }

  .chat-window-footer {
    bottom: 0px;
    width: calc(100vw - 18.25rem);
  }
}
