.feeling-wrapper {
  padding-top: var(--spacing-24) !important;
}

.feeling-wrapper .filter-wrapper {
  padding: var(--spacing-12) var(--spacing-12) 0 var(--spacing-16);
  overflow-x: auto;
}

.feeling-wrapper .filter-wrapper .filter-icon {
  float: left;
}

.feeling-wrapper .filter-wrapper .filter-names {
  padding: 0 var(--spacing-12);
  overflow-x: scroll;
  white-space: nowrap;
  /* transition: visibility 0s linear 0.33s, opacity 0.33s linear; */
}

.show-filter-names {
  display: block;
  animation: showFilter 0.35s 1;
}

.hide-filter-names {
  display: none;
  animation: hideFilter 0.35s 1;
}

/* Modal css */
.modal.fade .modal-dialog {
  margin: 0px;
  border-radius: 25px;
  transform: translate3d(0, calc(100vh - 29vh), 0) !important;
}

.modal.fade .modal-content {
  border-radius: 25px 25px 0 0 !important;
}

.modal-body .menu-list {
  list-style-type: none;
  padding: 0;
}

.modal-body .menu-list .menu-item {
  padding: var(--spacing-8) var(--spacing-12);
}

#ShareOptionsModal .modal-dialog {
  transform: translate3d(0, calc(100vh - 14vh), 0) !important;
}

#ShareOptionsModal .modal-body {
  min-height: 17vh !important;
  max-height: 70vh !important;
}


#MenuModal .modal-dialog {
  transform: translate3d(0, calc(100vh - 20vh), 0) !important;
}

#MenuModal .modal-body {
  min-height: 20vh !important;
  max-height: 70vh !important;
}


@keyframes showFilter {
  from {
    transform: translateX(+200vw);
  }
  to {
    transform: translateX(0vw);
  }
}

@keyframes hideFilter {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-100vw);
  }
}

.feeling-wrapper .filter-wrapper .selected {
  border-radius: 6px;
}

.feeling-wrapper .filter-wrapper .unselected {
  border: 1px solid #F4EFFD;
  border-radius: 6px;
}
