.feeling-wrapper .filter-wrapper {
  padding: var(--spacing-12) var(--spacing-12);
  overflow-x: auto;
}

.feeling-wrapper .filter-wrapper .filter-header {
  float: left;
}

.feeling-wrapper .filter-wrapper .filter-names {
  overflow: scroll;
}

.feeling-wrapper .filter-wrapper .selected {
  border-radius: 6px;
}

.feeling-wrapper .filter-wrapper .unselected {
  border: 1px solid #F4EFFD;
  border-radius: 6px;
}

/* header */
.navbar-violet {
  background-color: var(--color-violet-400);
  border-radius: 0 0 1rem 1rem;
}

.navbar-violet .nav-link img {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.navbar-violet .nav-link img {
  width: 27px;
  height: 27px;
}
