.feeling-wrapper .filter-wrapper {
  padding: var(--spacing-12) var(--spacing-12);
  overflow-x: auto;
}

.feeling-wrapper .filter-wrapper .filter-header {
  float: left;
}

.feeling-wrapper .filter-wrapper .filter-names {
  overflow: scroll;
}

.feeling-wrapper .filter-wrapper .selected {
  border-radius: 6px;
}

.feeling-wrapper .filter-wrapper .unselected {
  border: 1px solid #F4EFFD;
  border-radius: 6px;
}
